body{
    margin:0px;
}
.d1 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    /* margin:0px; */
  }
  
  .d2 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left:100px;
    top:100px;
    /* margin:0px; */
  }

  .d3 {
    height: 100px;
    width: 100px;
    background-color: red;
    position:absolute;
    left:200px;
    top:200px;
    /* margin:0px; */
  }